<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/bottom_sheet_behavior"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PreferenciasDialogosNotificaciones"
        tools:targetApi="31">

        <!-- Definir MainActividad1 como la principal (LAUNCHER) -->
        <activity
            android:name=".MainActividad1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registrar la actividad de preferencias -->
        <activity android:name=".PreferenciasAppActivity" android:exported="false" />

        <!-- Si tenías una MainActivity antigua, quítale el intent-filter de LAUNCHER -->
        <activity android:name=".MainActivity" android:exported="false"/>

    </application>

</manifest>
