<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.preferenciasdialogosnotificaciones">

    <!-- Permiso para notificaciones (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/bottom_sheet_behavior"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PreferenciasDialogosNotificaciones"
        tools:targetApi="31">





        <!-- Definir MainActividad5 como la principal (LAUNCHER) -->
        <activity
            android:name=".MainActividad5"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActividad4 ya no es principal -->
        <activity
            android:name=".MainActividad4"
            android:exported="true" />

        <!-- MainActividad3 ya no es principal -->
        <activity
            android:name=".MainActividad3"
            android:exported="true" />

        <!-- MainActividad2 ya no es principal -->
        <activity
            android:name=".MainActividad2"
            android:exported="true" />

        <!-- MainActividad1 ya no es principal -->
        <activity
            android:name=".MainActividad1"
            android:exported="true" />

        <!-- Registrar la actividad de preferencias -->
        <activity android:name=".PreferenciasAppActivity" android:exported="false"
            android:label="PREFERENCIAS"
            android:parentActivityName=".MainActividad1"/>

        <!-- Si tenías una MainActivity antigua, quítale el intent-filter de LAUNCHER -->
        <activity android:name=".MainActivity" android:exported="false"/>

    </application>

</manifest>
