<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">

        <!--
        ===============================================================
        CASO 1: Usando el atributo android:onClick
        Esta es la actividad de lanzamiento actual.
        ===============================================================
        -->
        <activity
            android:name=".ActividadCaso1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        ===============================================================
        CASO 2: Usando OnClickListener en Java
        Esta actividad está declarada, pero no se iniciará por defecto.
        ===============================================================
        -->
        <activity
            android:name=".ActividadCaso2"
            android:exported="false" />

        <!--
        ===============================================================
        ACTIVIDADES ANTERIORES
        Las mantenemos declaradas por si las necesitas más adelante.
        ===============================================================
        -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Actividad5part1"
            android:exported="false" />

    </application>

</manifest>
